@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "vars";


input[type=submit].hidden,
input[type=button].hidden,
button.hidden
{
    display: block !important;
    width: 100% !important;
    height: 100% !important;
    top: 0px;
    left: 0px;
    position: absolute;
    .opacity(0);
    cursor: pointer;
}

.btn
{
    position: relative;
    display: inline-block;
    cursor: pointer;

}

.btn-wrap
{
    position: relative;
    display: inline-block;

    &.disable
    {

        &:before
        {
            content: " ";

            z-index: 9999;
            position: absolute;
            top: 0px;
            left: 0px;

            width: 100%;
            height: 100%;
        }
    }
}

.btn-all-width
{
    width: 100%;
    text-align: center;
    padding: 0px !important;
}