@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "vars";

*
{
    padding: 0px;
    margin: 0px;
}

body
{
    font-size: 14px;
    line-height: 20px;


}

#container
{
    position: relative;
}

a
{
    &:hover,
    &:focus
    {
        color: inherit;
    }

}



.clear
{
    float: none !important;
    clear: both !important;
}